.ourEnvironmentGlobalDiv{
  width: 85%;
  margin: auto;
  margin-top: 80px;
  margin-bottom: 80px;
}

.imgOurTeam{
  max-width: 220px;
  width: 100%;
  object-fit: cover;
  display: flex;
  padding: 10px;
  border-radius: 3px;
}

.ourEnvironmentDiv{
  display: flex;
  flex-direction: row-reverse;
}

.ourEnvironmentText {
  width: 50%;
  margin: auto;
  border-radius: 3px;
  display: flex;
  align-items: center;
  line-height: 25px;  
  background-color: #d6bd1e34;
  padding: 30px;
  margin: 30px;
  margin-right: 0px;
  text-align: initial;
}

.GlobalOurEnvironmentPictures{
  width: 50%;
}
.OurEnvironmentPicture{
  width: 260px;
  height: 170px;
  object-fit: cover;
  margin-left: 5px;
}


.ourEnvironmentGlobalDiv{
  text-align: initial;
}
.ourLeadershipTitle{
  color: #d6bc1e;
  text-shadow: 0.5px 0.50px 0.5px #191953;
}

@media screen and (max-width:1277px)and (min-width:10px){
  .ourEnvironmentDiv{
    display: block;
  }

  .ourLeadershipTitle{
    padding-left: 20px;
  }

  .ourEnvironmentText {
    width: 100%;
    margin: 0px; 
    margin: auto;
    padding: 0px;
  }

  .ourEnvironmentText p {
    padding: 27px;
  }

  .ourEnvironment, .GlobalOurEnvironmentPictures{
    width: 260px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .ourEnvironmentGlobalDiv {
    width: 100%;
  }
}