.ourLadershipSection {
  background-color: #002556;
  display: flex;
  align-items: center;
  text-align: initial;
  padding: 30px;
}

.ourLadershipGlobalDiv{
  color: white;
  width: 85%;
  margin: auto;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}

.ourLadershipTitle{
  color: #da4b30;
}

.ourLadershipText{
  line-height: 25px;
}

.ourLadershipTextDiv{
  width: 70%;
}

.ourLadershipPictureDiv{
  width: 30%;
  height: 170px;
  object-fit: cover;
  margin: auto;
  margin-left: 0px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.ourLadershipPicture{
  width: 300px;
  height: 100%;
}

@media screen and (max-width:1277px)and (min-width:10px){
  .ourLadershipGlobalDiv{
    display: block;
  }

  .ourLadershipPictureDiv {
    max-width: 263px;
    margin: auto;
    width: 100%;
  }

  .ourLadershipTextDiv {
    width: 100%; 
    margin: auto;
  }
}


@media screen and (max-width:500px)and (min-width:10px){
  
}

