.bannerSection{
  background-image: url("../../assets/Banner.png");
  height: 750px;
  width: 100%;
  object-fit: cover;
  background-size: cover;
}

.bannerTitle{
  color: #ffffffd4;
  height: 100%;
  font-size: 7vw;
  margin: auto;
  display: flex;
  align-items: center;
  text-align: center;
  font-family:  'Arial Narrow', Arial, sans-serif;
  background-color: rgba(0, 0, 0, 0.188);
}

.bannerTitle h1{
  width: 80%;
  margin: auto;
}





/*Responsive*/
@media screen and (max-width: 1100px) {
	.bannerSection {
    
    height: 580px;
  }
}

@media screen and (max-width: 880px) {
	.bannerSection {
    
    height: 450px;
  }
}

@media screen and (max-width: 630px) {
	.bannerSection {
    height: 300px;
    max-width: 630px;
    width: 100%;
  }
}

@media screen and (max-width: 630px) {
	.bannerSection {
    height: 280px;
    max-width: 630px;
    width: 100%;
  }
}