.globalFooterDiv{
  width: 100%;
  background-color: #EEEEEE;

}
.global-div-informationFooter, .mapsDiv{
  padding-top: 20px;
  padding-bottom: 20px;
}

.global-div-footer{
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
  justify-content: space-between;
  background-color: #EEEEEE;
  color: black;
  padding-top: 15px;
  padding-bottom: 15px;
}

.coordonnes-adresse{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.informationTitle{
  text-decoration: underline;
  text-underline-offset: 8px;
}

.instagram{
  width: 25px;
  height: 25px;
  object-fit: cover;
  margin-right: 10px;
}

.instagramText{
  display: flex;
  align-items: center;
}

.information{
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: 330;
  text-decoration: none;
  color: black;
}

.global-div-footer-mentions{
  margin: auto;
  justify-content: space-between;
  background-color: #c7c7c796;
  color: black;
}

.mention{
  margin: 0px;
  padding: 25px;
  text-align: center;
  font-size: small;
  font-weight: 330;
}

