
.designBuildSection{
  width: 100%;
    margin: 0px;
    background-color: #002556e8;
    color: white;
    padding: 200px;
    padding-top: 50px;
    padding-bottom: 50px;
}
#designBuildSectionId{
  position: absolute;
  top: 400px;
  margin-bottom: -600;
}


@media screen and (max-width:990px)and (min-width:10px){
.designBuildSection {
  width: 100%;
  margin: 0px;
  background-color: #002556e8;
  color: white;
  padding: 34px;
}

.designBuildSection {
  padding: 50px;
}
}